<!DOCTYPE html>
<html>
<head>
    <title>{{{title}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/faq.css">
    <link rel="shortcut icon" href="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_64,w_64/ProductFansIconv2_ylivfw.png">
    <script type="text/javascript">
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
        analytics.load("zxsGBtO0TgfjCvrWi3EcRG8zb8Pxjtss");
        analytics.page()
        }}();
    </script>
</head>
<body style="font-family: 'Open Sans', sans-serif;">
<header>
<div class="navbar navbar-fixed-top" style="background-color:white;box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;">
    <div class="container" style="padding-top:8px;padding-bottom:8px">
      <div class="row">
        <div class="col-md-offset-1 col-md-4">
          <a href="/"><img src="/images/pf_logo.png" style="height:55px"/></a>
        </div>
        <div class="col-md-offset-5 col-md-2"><div style="padding-top:15px;padding-left:30px"><a style="color:#666;text-decoration:none;font-weight:300;font-size:16px;font-family:lato, sans-serif;" href="/faq">FAQ</a></div></div>
      </div>
    </div>
</div>
</header>
{{{body}}}
</body>
</html>
