<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon" 
      type="image/png" 
      href="/favicon.png">
    <title>ProductFans Admin{{#if section}} - {{{section}}}{{/if}}{{#if title}} - {{{title}}}{{/if}}</title>
    <link href="/css/application.css" rel="stylesheet">
    <style>
      th {
        white-space: nowrap
      }
      td.html-cell div {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 185px;
      }
      td.datetime-cell {
        display: table-cell;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 185px;
      }
      td.string-cell {
        display: table-cell;
        max-width: 185px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      td.uri-cell a {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 300px;
      }
      td.wrapped-text {
        text-overflow: clip;
        white-space: normal;
      }
      #domain-date-filter, #domain-user-filter {
        margin-right: 10px;
      }
      img.company-logo {
        height: 25px;
      }
      /*td.integer-cell,th.numUsers,th.usePercent,th.hits,th.newUsers {
        text-align: center;
      }*/
    </style>
    <link rel="shortcut icon" href="/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
           chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
                      https://code.google.com/p/chromium/issues/detail?id=332189
        */
    </script>

    <!--<script src="//use.typekit.net/nez4vyk.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>-->

    <!-- common libraries. required for every page-->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-pjax/jquery.pjax.js"></script>
    <script src="/lib/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="/lib/widgster/widgster.js"></script>
    <script src="/lib/underscore/underscore.js"></script>

    <!-- common application js -->
    <script src="/js/app.js"></script>
    <script src="/js/settings.js"></script>

    <!-- page specific scripts -->

      <!-- page specific libs -->
      <script src="/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
      <script src="/lib/underscore/underscore.js"></script>
      <script src="/lib/backbone/backbone.js"></script>
      <script src="/lib/backbone.paginator/lib/backbone.paginator.min.js"></script>
      <script src="/lib/backgrid/lib/backgrid.latest.min.js"></script>
      <script src="/lib/backgrid-textcell/backgrid-text-cell.min.js"></script>      
      <link href="/lib/backgrid-textcell/backgrid-text-cell.min.css" rel="stylesheet">
      <script src="/lib/backgrid-paginator/backgrid-paginator.js"></script>
      <script src="/lib/datatables/media/js/jquery.dataTables.min.js"></script>
      <script src="/lib/moment/min/moment.min.js"></script>

      <!-- backgrid cloudinary image upload widget -->
      <script src="/js/backgrid-cloudinary-modal.js"></script>
      <!--<script src='/lib/cloudinary_js/js/jquery.ui.widget.js' type='text/javascript'></script>
      <script src='/lib/cloudinary_js/js/jquery.iframe-transport.js' type='text/javascript'></script>
      <script src='/lib/cloudinary_js/js/jquery.fileupload.js' type='text/javascript'></script>
      <script src='/lib/cloudinary_js/js/jquery.cloudinary.js' type='text/javascript'></script>      
      <script>
        $.cloudinary.config({ cloud_name: 'nqb8-com', api_key: '884715898561844'});
        var data = {
          "timestamp":  new Date().getTime(), 
          "callback": "http://dev.productfans.com/lib/cloudinary_js/html/cloudinary_cors.html",
          "signature": "No idea what to do with this", 
          "api_key": "884715898561844"
        };    
        $( function() {
          $('.cloudinary-fileupload').attr('data-form-data', JSON.stringify(data));
        });
        
      </script>
      -->
      <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"/>
      <script type="text/javascript">
      
      </script>

      <!-- page application js -->
      <script>currentUser = "{{{email}}}";</script>      
</head>
<body class="background-dark">    
    <div class="logo pull-left">
      <h4 style='background-color: rgb(255, 111, 34);padding:5px'><a href="/">Product<strong>Fans</strong></a></h4>
    </div>
    {{#if show_nav}}{{> nav}}{{/if}}
    <div class="wrap" {{#unless show_nav}}style="margin-left:10px"{{/unless}}>
        <header class="page-header">
            <div class="navbar">
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="visible-phone-landscape">
                        <a href="#" id="search-toggle">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                    {{#if email}}
                    <li class="hidden-xs">
                      <div style="padding-top: 8px">{{email}}</div>
                    </li>
                    <li>
                      <a title="Sign Out" href="{{#if admin_mode}}/admin{{/if}}/logout">
                        <i class="fa fa-sign-out"></i>
                      </a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </header>
        <div class="content container" style="margin-top:-70px">
          <h2 class="page-title" {{#unless show_nav}}style="margin-left:150px"{{/unless}}>
            {{#if section}}{{{ section }}} - {{/if}}<span class="fw-semi-bold">{{{ title }}}</span></h2>
          {{{ body }}}
        </div>
        <div class="loader-wrap hiding hide">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
    </div>
</body>
</html>
