<!DOCTYPE html>
<html>
<head>
    <title>{{page_title}}</title>
    <link href="/css/application.css" rel="stylesheet">
    <style>
      th { white-space: nowrap }
      td.html-cell div {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 185px;
      }
      td.datetime-cell {
        display: table-cell;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 185px;
      }
      td.string-cell {
        display: table-cell;
        max-width: 185px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      td.uri-cell a {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 300px;
      }
    </style>
    <link rel="shortcut icon" href="/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
           chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
                      https://code.google.com/p/chromium/issues/detail?id=332189
        */
    </script>
</head>
<body class="background-dark">
    <div class="logo">
        <h4><a href="index.html"><img src="/mailrate.png" style="height:28px;width:28px;margin-top:-5px"/>ail<strong>Rate</strong></a></h4>
    </div>
        <nav id="sidebar" class="sidebar nav-collapse collapse">
            <ul id="side-nav" class="side-nav">
                {{#if admin_mode}}
                <li><a href="/admin"><i class="fa fa-home"></i> <span class="name">Admin Home</span></a></li>
                <li><a href="/admin/links"><i class="fa fa-area-chart"></i> <span class="name">Link Tracking</span></a></li>
                {{else}}
                <li><a href="/dashboard/{{{email}}}"><i class="fa fa-home"></i> <span class="name">Dashboard</span></a></li>
                <li class="panel active">
                    <a class="accordion-toggle" data-toggle="collapse"
                       data-parent="#side-nav" href="#stats-collapse"><i class="fa fa-area-chart"></i> <span class="name">Link Tracking</span></a>
                    <ul id="stats-collapse" class="panel-collapse collapse in">
                        <li class=""><a href="#">Threads</a></li>
                        <li class=""><a href="#">Links</a></li>
			<li class="active"><a href="#">Clicks</a></li>
                    </ul>
                </li>
                {{/if}}
                <li class="visible-xs">
                    <a href="{{#if admin_mode}}/admin{{/if}}/logout"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
                </li>
            </ul>
        </nav>    <div class="wrap">
        <header class="page-header">
            <div class="navbar">
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="visible-phone-landscape">
                        <a href="#" id="search-toggle">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                    <li class="hidden-xs"><a title="Sign Out" href="{{#if admin_mode}}/admin{{/if}}/logout"><i class="fa fa-sign-out"></i></a></li>
                </ul>
            </div>
        </header>
        <div class="content container">
          <h2 class="page-title">{{#if section}}{{{ section }}} - {{/if}}<span class="fw-semi-bold">{{{ title }}}</span></h2>
          {{{ body }}}
        </div>
        <div class="loader-wrap hiding hide">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
    </div>
<!-- common libraries. required for every page-->
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jquery-pjax/jquery.pjax.js"></script>
<script src="/lib/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="/lib/widgster/widgster.js"></script>
<script src="/lib/underscore/underscore.js"></script>

<!-- common application js -->
<script src="/js/app.js"></script>
<script src="/js/settings.js"></script>

<!-- page specific scripts -->

  <!-- page specific libs -->
  <script src="/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
  <script src="/lib/underscore/underscore.js"></script>
  <script src="/lib/backbone/backbone.js"></script>
  <script src="/lib/backbone.paginator/lib/backbone.paginator.min.js"></script>
  <script src="/lib/backgrid/lib/backgrid.min.js"></script>
  <script src="/lib/backgrid-paginator/backgrid-paginator.js"></script>
  <script src="/lib/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="/lib/moment/min/moment.min.js"></script>

  <!-- page application js -->
  <script>currentUser = "{{{email}}}";</script>
  <script src="/js/mailrate.js"></script>

</body>
</html>
