<!doctype html>
<html lang="en">
<head>
  <title>{{{page_title}}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.45, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/nljjcfhhokboknahjknlhbjbggmlicji">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/js/install.js"></script>
  <script src="//use.typekit.net/nez4vyk.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script src="https://apis.google.com/js/client:platform.js" async defer></script>
</head>
<body>{{{ body }}}</body>
</html>
