{{#with user}}
<div class="well"><div class="row">
  <div class="col-md-2">Auth Status</div><div class="col-md-2">
  {{#if valid}}<span style="color:green">OK</span>
  {{else}}<span style="color:red">INVALID</span>{{/if}}</div>
  {{#unless valid}}<div class="col-md-8">{{#with error}}{{{message}}} ({{{date}}}){{/with}}</div>{{/unless}}
  <div class="col-md-8" style="text-align:right">
    <a href="/admin/switch/{{email}}" class="btn btn-success">Switch to user</a>
  </div>
</div></div>
{{/with}}
<div class="well">
<h3>Top Domains in 2015</h3>
<table>
<tr><th>Domain</th><th>Emails</th></tr>
{{#each domains}}
  <tr><td>{{_id}}</td><td>{{count}}</td><tr/>
{{/each}}
</table>
</div>