<div class="row">
  <div class="col-lg-3">
    <section class="widget">
      <header><h4>MongoDB stats</h4></header>
      <table class="table-striped" style="width: 100%">
        {{#with usage}}
        <tr><td width=100>Total Data </td><td align=right>{{{toFixed dataSize}}} MB</td></tr>
        <tr><td>Size on Disk </td><td align=right>{{toFixed fileSize}} MB</td></tr>
        {{/with}}
        <tr><td>Total Domains </td><td align=right>{{{commas domainCount}}}</td></tr>
        <tr><td>Total Messages </td><td align=right>{{{commas messageCount}}}</td></tr>
        <tr><td>Total Users </td><td align=right>{{{commas userCount}}}</td></tr>
      </table>
    </section>
  </div><div class="col-lg-3">
    <section class="widget">
      <header><h4>BigQuery stats</h4></header>
      <table class="table-striped" style="width: 100%">
        {{#with bigquery}}        
        <tr><td>Total Data </td><td align=right>{{toFixed fileSize}} MB</td></tr>
        <tr><td>Total Messages </td><td align=right>{{{commas numRows}}}</td></tr>
        {{/with}}
      </table>
    </section>
  </div><div class="col-lg-6">
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <section class="widget">
    <header><h4>User Imports</h4></header>
      <table class="table-striped" style="width:100%">
      <thead><tr>
        <th></th>
        <th>Email</th>
        <th>Auth</th>
        <th>Joined</th>

        <th>Last Import</th>
        <th>Duration</th>
        <th>Result</th>

        <th>Domains</th>
        <th>Messages</th>

        <th>First Email</th>
        <th>Last Email</th>
        
        <!--<th>Actions</th>-->
      </tr></thead>
      {{#each users}}
      <tr>
        <td class="index"></td>
        <td><a href="/admin/user/{{{email}}}">{{{email}}}</a></td>
        <td>{{#if valid}}<span style="color:lightgreen">OK</span>
            {{else}}<span style="color:orangered">INVALID</span>{{/if}}</td>
        <td>{{mdy joined}}</td>

        <td>{{{last_import}}}</td>
        <td>{{duration}}</td>
        <td>{{#if last_import_error}}{{last_import_error}}{{else}}OK{{/if}}</td>
        

        <td class="total-domains">{{total_domains}}</td>
        <td class="total-messages">{{total_messages}}</td>

        <td style="color:{{#if first_email_error}}red{{else}}lightgreen{{/if}}">{{first_email_date}}</td>
        <td style="color:{{#if last_email_error}}orangered{{else}}lightgreen{{/if}}">{{last_email_date}}</td>
        
        <!--<td><button>Reimport</button></td>-->
      </tr>
      {{/each}}
      </table>
    </section>
  </div>
</div>
<script>
$(function() {
  $("td.index").each(function(i,el){
    $(this).text(i+1+'.');
  });
  $("td.total-domains").each(function(i,el){
    val = parseInt($(el).text());
    if (val < 25) {
      $(el).css("color", "orangered");
    } else if (val < 100) {
      $(el).css("color", "orange");
    }
  });   
  $("td.total-messages").each(function(i,el){
    val = parseInt($(el).text());
    if (val < 300) {
      $(el).css("color", "orangered");
    } else if (val < 1000) {
      $(el).css("color", "orange");
    }
  });   
});
</script>