<div class="well">
  <table class="table">
    <tr><th>Num Users</th><th>Start</th><th>End</th><th></th></tr>
    {{#each imports}}
    <tr><td>{{num_users}}</td><td>{{mdyHms import_start}}</td><td>{{mdyHms import_end}}</td>
        <td><button class="import-details btn-success btn-xs" data-import="{{_id}}">Details</button></td></tr>
    {{/each}}
  </table>
</div>
<script type="text/javascript">
$("button.import-details").click(function() {
  window.location.href = "/admin/imports/" + $(this).data('import');
});
</script>