<div class="well">
  <table class="table">
    <tr><th>Batch Import</th><th>Start</th><th>End</th><th>Duration</th></tr>
    <tr>{{#with batch}}<td>{{mdy import_start}}</td><td>{{hmsa import_start}}</td><td>{{hmsa import_end}}</td>{{/with}}
        <td>{{duration}}</td></tr>
  </table>
</div>

<div class="well">
  <table class="table">
    <tr><th>Email</th><th>Messages</th><th>Domains</th><th>Import Duration</th>
        <th colspan="2">Query Range</th><th colspan="2">Message Range</th></tr>
    <tr><th colspan="4"></th>
        <th>Start</th><th>End</th><th>Start</th><th>End</th></tr>
    <!--<pre>{{json items}}</pre>-->
    {{#each items}}
    <tr><th>{{email}}</th><th>{{total_messages}}</th><th>{{total_domains}}</th><th>{{duration}}</th>
        <th>{{mdyHms dateQuery.start}}</th><th>{{mdyHms dateQuery.end}}</th>
        <th>{{mdyHms first_email}}</th><th>{{mdyHms last_email}}</th></tr>
    {{/each}}
  </table>
</div>
