<div class="well">
  <div class="row">
    <div class="col-md-2" style="height:200px;background-repeat:no-repeat;background-size:contain;background-image: url({{{full_contact.response.logo}}})">&nbsp;</div>
    <div class="col-md-5">
      {{#if company_name}}
      <table class="table">
        <tr><td style="width:100px">Company</td><td>{{company_name}}</td></tr>
        <tr><td>Description</td><td>{{company_desc}}</td></tr>
        {{#if full_contact}}{{#with full_contact.response}}
          {{#if website}}<tr>
            <td>Website</td><td><a href="{{website}}">{{website}}</a></td>
          </tr>{{/if}}
          {{#if organization}}
            {{#if organization.links}}<tr>
              <td>Links</td><td>{{#each organization.links}}
                <a href="{{url}}">{{label}}</a>{{#unless @last}}, {{/unless}}
              {{/each}}</td>
            </tr>{{/if}}
            {{#if organization.keywords}}<tr>
              <td>Keywords</td><td>{{joinCommas organization.keywords}}</td>
            </tr>{{/if}}
          {{/if}}
          {{#if socialProfiles}}<tr>
              <td>Social</td><td>{{#each socialProfiles}}
                <a href="{{url}}">{{typeName}}</a>{{#unless @last}}, {{/unless}}
              {{/each}}</td>
            </tr>{{/if}}
        {{/with}}{{/if}}
      </table>
      {{else}}
        Company not found.
      {{/if}}
    </div>
    {{#if admin_mode}}{{#if full_contact}}
    <div class="col-md-5">
      FullContact JSON
      <div id="fullcontact-json" style="overflow:scroll;max-height:0px"><pre>{{json full_contact.response}}</pre></div>
    </div>
    {{/if}}{{/if}}
  </div>
</div>

<div class="well">
  {{#if error}}
    {{error}}
  {{else}}
    {{#if subdomains}}
      <div class="row">
        <div class="col-md-2">Subdomains</div>
        <div class="col-md-10">{{#each subdomains}}<span class="label label-default" style='margin-right:10px'>{{this}}</span>{{/each}}</div>
      </div>
    {{/if}}
    <div class="row">
      <div class="col-md-2">Total Messages</div>
      <div class="col-md-10">{{total}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">First Appearance</div>
      <div class="col-md-10">{{earliest}}</div>
    </div>
  {{/if}}
</div>

<section class="widget">
  <header>
      <h4><i class="fa fa-line-chart-o"></i>Messages Sent<small style="display: inline !important;" class="hidden-xs"></small></h4>
  </header>
  <div id="message-chart-line" class="body chart">
      <svg></svg>
  </div>
</section>
<section class="widget">  
  <header>
      <h4><i class="fa fa-bar-line-o"></i>Users<small style="display: inline !important;" class="hidden-xs"></small></h4>
  </header>
  <div id="user-chart-line" class="body chart">
      <svg></svg>
  </div>
</section>

<script src="/js/nvd3-custom-lb1.0/lib/d3.v2.min.js"></script>
<script src="/js/nvd3-custom-lb1.0/nv.d3.custom.js"></script>
<script src="/js/nvd3-custom-lb1.0/src/models/axis.js"></script>
<script src="/js/nvd3-custom-lb1.0/src/models/scatter.js"></script>
<script src="/js/nvd3-custom-lb1.0/src/models/legend.js"></script>
<script src="/js/nvd3-custom-lb1.0/src/models/line.js"></script>
<script src="/js/nvd3-custom-lb1.0/src/models/lineChart.js"></script>
<script>var currentDomain = "{{title}}";</script>
<script src="/js/admin_domain_details.js"></script>
