<section class="widget">
  <header>
    <div id="page-filter" class="btn-group" data-toggle="buttons">
      <label class="btn btn-sm btn-default active">
          <input type="radio">trending
      </label>
      <label class="btn btn-sm btn-default">
          <input type="radio">popular
      </label>
      <label class="btn btn-sm btn-default">
          <input type="radio">new
      </label>
    </div>
    <div class="widget-controls">
      <div class="width-200" style="display:inline-block">
        <div class="input-group input-group-sm input-group-transparent input-group-rounded">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
          <input class="form-control input-transparent" id="search-domains" type="text" placeholder="Search Domains">
        </div>
      </div>
      <a id="domain-export-csv" href="/csv/domain/2015" class="btn btn-default" style="padding:4px;margin-top:-22px" title="Export CSV">
      <i class='glyphicon glyphicon-download' style="margin-right:2px"></i>CSV</a>
    </div>
  </header>
  <div class="body">
    <!--{{#if email}}<p>
      Thanks for logging in! Now excluding stuff you've already seen on <b>{{{ email }}}</b>
    </p>{{/if}}-->
   <div id="table-dynamic"></div>
  </div>
</section>

<script>
  adminMode = {{admin_mode}};
</script>
<script src="/js/audit_domains.js"></script>
<script>
  $(function(){  
    if (window.pageLoad !== undefined) {
      console.log("Loaded js at page load");
      pageLoad();
    } else {
      $.getScript( "/js/audit_domains.js" ).done(function(script, textStatus) {
        console.log("JS loaded after page load", textStatus);
        pageLoad();
      });
    }
  });
</script>
{{#unless show_nav}}
  <script>
  $(function() {
    $body = $('body');  
    $body.addClass("sidebar-hidden");
    console.log("Sidebar hidden");
  });
  </script>
{{/unless}}