Dashboard page.

Logged in as
<select id="login-select"></select>

<table style="font-size: 14px; margin: 25px auto; width: 95%; background: rgba(255, 255, 255, 0.7)" cellspacing=15>
<tr style="background:rgba(255,255,255,0.8)">
  <th>Date Sent</th>
  <th>Subject</th>
  <th>Link</th>
  <th>Recipients</th>
  <th>Clicked At</th>
  <th>IP</th>
</tr>
{{#each clicks}}
<tr>
  <td>{{{date_sent}}}</td>
  <td>{{{subject}}}</td>
  <td><a href="{{{link}}}">{{#if label}}{{{label}}}{{else}}{{{link}}}{{/if}}</a></td>
  <td>{{{to}}}</td>
  <td>{{{clicked_at}}}</td>
  <td>{{{ip}}}</td>
</tr>
{{/each}}
</table>