<div class="main" style="margin-top:100px;">
  <div class="page-content">
    <div class="post">
      <article class="post-content">
        <h1 class="no_toc" id="frequently-asked-questions">Frequently Asked Questions</h1>
        <ul id="markdown-toc">
          <li>
            <ul>
              <li><a href="#how-does-productfans-work">How does ProductFans work?</a></li>
              <li><a href="#do-you-support-logging-in-without-google">Do you support logging in without Google?</a></li>
              <li><a href="#how-does-productfans-access-my-email-account">How does ProductFans access my email account?</a></li>
              <li><a href="#how-is-my-email-account-used">How is my email account used?</a></li>
              <li><a href="#does-productfans-share-my-personal-information">Does ProductFans share my personal information?</a></li>
              <li><a href="#how-do-you-ensure-my-privacy">How do you ensure my privacy?</a></li>
            </ul>
          </li>
        </ul>
        <h2 id="how-does-productfans-work">How does ProductFans work?</h2>
        <p>ProductFans uses receipts, app notifications, and promotions from your email inbox to build an understanding of what products and apps you use. We use an algorithm to compare the products you use to everyone else in our network to surface new products for you to discover and try.</p>
        <h2 id="do-you-support-logging-in-without-google">Do you support logging in without Google?</h2>
        <p>No. Unfortunately, ProductFans only works with your Google account login at this time.  ProductFans relies on email data provided through your Gmail account to build your personalized recommendations.</p>
        <h2 id="how-does-productfans-access-my-email-account">How does ProductFans access my email account?</h2>
        <p>We use Google OAuth to request permission to access your email data. This means that when you sign up, you'll be redirected to Google and asked whether you want to allow ProductFans to access your email data. Once you approve, Google will give us access. It all takes just a few clicks. We never have access to your password.</p>
        <h2 id="how-is-my-email-account-used">How is my email account used?</h2>
        <p>Email data is aggregated to determine general trends (e.g. top 10 apps in the US) or correlations (e.g. people who use Uber shop at Amazon).  We never display data at an individual level. You will never see your name displayed as a user of a product.</p>
        <h2 id="does-productfans-share-my-personal-information">Does ProductFans share my personal information?</h2>
        <p>ProductFans automatically builds a picture of your app and product usage and combines that with our understanding of thousands of other customers.</p>
        <p>ProductFans does not share your email address or the email addresses of your contacts with third party advertisers. </p>
        <!--<h2 id="what-does-productfans-access">What exactly does ProductFans access in my email?</h2>
        <p>- We only collect automated emails that you’ve received - these are receipts, notifications, promotions, mailing lists, etc.  We never access emails received from individuals.</p>
        <p>We never access any emails you’ve sent.</p>-->
        <h2 id="how-do-you-ensure-my-privacy">How do you ensure my privacy?</h2>
        <p>We take your privacy very seriously.  To that end we collect the minimum amount of data to deliver you a great experience.  Our company sticks to 3 core privacy principles:</p>
        <ul>
        <li>We only collect automated emails that you’ve received - these are receipts, notifications, promotions, mailing lists, etc.  We never access emails received from individuals.</li>
        <li>We never access any emails you’ve sent.</li>
        <li>We never display, share, or sell data at an individual level.  A person’s personally identifiable information will never be associated with a particular product or service.  Any data we display is at an aggregate level across our network.</li>
        </ul>
      </article>
    </div>
  </div>
</div>