<div class="container">
    <header class="page-header">
        <div class="navbar">
            <div class="logo pull-left">
                <h4><a href="/"><img src="/mailrate.png" style="height:28px;width:28px;margin-top:-5px"/>ail<strong>Hunt</strong></a></h4>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="jumbotron" style="text-align:center">
        <a href="/import"><button type="button" class="btn btn-primary btn-lg">
            Log In with
            <img src="https://www.gstatic.com/images/icons/material/product/1x/gmail_64dp.png" style="margin-top:-3px;height:26px;width:26px"/>
            Gmail for <b>Personalized Product Recommendations</b>
        </button></a>
        </div>
    </div>
</div>
<div id="about" class="widget widget-white widget-about">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <h2><strong>About MailHunt</strong></h2>
                <p>
                    <strong>MailHunt</strong> helps you find new products by analyzing your bulk e-mails.
                </p>
                <div class="row features">
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                            <span class="icon background-danger">
                                <i class="fa fa-area-chart"></i>
                            </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>Analytics</h4>
                                    <p>
                                        See statistics on product usage
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                            <span class="icon background-warning">
                                <i class="fa fa-line-chart"></i>
                            </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>Trends</h4>
                                    <p>
                                        Spot new trends based on emails in our network
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                            <span class="icon background-success">
                                <i class="fa fa-child"></i>
                            </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>Personal</h4>
                                    <p>
                                        Get insight into your own bulk email
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row features">
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                            <span class="icon background-primary">
                                <i class="fa fa-superscript"></i>
                            </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>Network</h4>
                                    <p>
                                      See what people in your network are using
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                            <span class="icon background-lime">
                                <i class="fa fa-check"></i>
                            </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>Similar Products</h4>
                                    <p>
                                       Find similar products to ones you use
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                            <span class="icon background-info">
                                <i class="fa fa-building"></i>
                            </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>Business</h4>
                                    <p>
                                        Gain competitive insights
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>