<table style="font-size: 14px; margin: 25px auto; width: 95%;" cellspacing=15>
<thead>
<tr>
  <th>Date Sent</th>
  <th>Sender</th>
  <th>Subject</th>
  <th>Link</th>
  <th>Recipients</th>
  <th>Clicked At</th>
  <th>IP</th>
</tr>
</thead>
<tbody>
{{#each clicks}}
<tr>
  <td>{{{date_sent}}}</td>
  <td>{{{sender}}}</td>
  <td><div style="width: 100px; text-overflow: ellipsis">{{{subject}}}</div></td>
  <td><div style="width: 300px; text-overflow: ellipsis; overflow: hidden;white-space:nowrap"><a href="{{{link}}}">{{#if label}}{{{label}}}{{else}}{{{link}}}{{/if}}</a></div></td>
  <td>{{{to}}}</td>
  <td>{{{clicked_at}}}</td>
  <td>{{{ip}}}</td>
</tr>
{{/each}}
</tbody>
</table>