<div class="container" style="margin-top: 100px">
  <h3>{{title}} in last 30 days</h3>
  <br/>
    {{#each apps}}
    <div class="container" style="margin-bottom: 20px;">
    <div class="row">
      <div class="col-md-2">{{index}} <img style="max-width: 100px" src="{{logo_url}}"/></div>
      <div class="col-md-9">
        <div><span style="font-size:150%">{{organization}}</span> (<a href="http://{{domain}}">{{domain}}</a>)</div>
        <div>{{description}}</div>
      </div>
    </div>
    </div>
    {{/each}}
</div>