<div class="container" style="width:100%;margin-top:50px;padding-top:100px;color:white;text-align:center;background-repeat:no-repeat;background-size:cover;background-color:transparent;background-position:50% 50%;background-image:url('http://uploads.strikinglycdn.com/static/backgrounds/abstract/72.jpg')">
    <!--<p style="margin-bottom:50px">ProductFans is on the way!</p>
    <p>
      You are
      <div style="font-size:48px">11</div>
      On the waitlist
    </p>
    <p style="margin-top:50px">In order to provide a highly customized experience, we are adding customers in small batches. We are working as hard as we can to get ProductFans into your hands quickly.</p>
</div>-->
<div class="wrapper" style="width:960px;text-align:center;margin:0 auto;">
  <h3 style="margin-bottom:50px">ProductFans is on the way!</h3>
  <h2>You are</h2>
  <h1 style="font-size:64px;">{{{position}}}</h1>
  <h2>On the waitlist</h2>
  
  <p style="margin-top:50px">In order to provide a highly customized experience, we are adding customers in small batches. We are working as hard as we can to get ProductFans into your hands quickly.</p>

  <h4 style="margin-top:50px;margin-bottom:100px">Stay tuned!  You'll hear from us over email when your account is ready to go.</h4>
</div>
<script>analytics.identify("{{{user}}}",{email:"{{{user}}}"});analytics.track("joined waitlist");</script>

<script>
  window.intercomSettings = {
    app_id: "zj7h9zmp",    
    email: "{{user}}", // Email address
    created_at: {{joined}} // Signup date as a Unix timestamp
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/zj7h9zmp';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

