<table>
<tr><th>Email</th><th>Auth Status</th><th>Last Import</th><th>Actions</th></tr>
{{#each users}}
<tr><td>{{{email}}}</td><td>{{{auth_status}}}</td><td>{{{last_import}}}</td><td><button>Reimport</button></td></tr>
{{/each}}
</table>