<section class="widget">
  <header>
    <h4>
      Clicks - <span class="fw-semi-bold">{{{email}}}</span>
    </h4>
    <div class="widget-controls">
      <div class="width-200" style="display:inline-block">
        <div class="input-group input-group-sm input-group-transparent input-group-rounded">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
          <input class="form-control input-transparent" id="search-links" type="text" placeholder="Search Links">
        </div>
      </div>
      <a href="/csv/{{{email}}}/linksClicked" class="btn btn-default" style="padding:4px;margin-top:-22px">Export CSV</a>
    </div>
  </header>
  <div class="body">
   {{#if email}}<p>
      Recent clicks on links in emails sent by {{{ email }}}.
    </p>{{/if}}
    <div id="table-dynamic"></div>
  </div>
</section>
