<div class="header">
  <a class='login' {{#if dashboardUser}}href="/dashboard/{{{dashboardUser}}}">Dashboard</a>{{ else }}<a href="/dashboard">Log in</a>{{/if}}
  <div class="logo"><img src="images/logo.png"/></div>
</div>
<div class="steps">
  <a class="step one" href="/import">
    <div class="step">
      <div class="number">1</div>
      <div class="noAuth">      
      	<img src="images/gmail_mailrate.png"/>
      	<div class="button">Authorize Gmail</div>
      </div>
      <div class="authMore" style="display:none">
        <ul>{{#each email}}<li>{{{this}}}</li>{{/each}}</ul>
        <div class="button">+ New Account</div>
      </div>
    </div>
  </a>
  <a class="step two" href="https://chrome.google.com/webstore/detail/mailrate/nljjcfhhokboknahjknlhbjbggmlicji">
  <div class="step">
    <div class="number">2</div>
    <div class="version none">
      <img style="margin-top: -30px" src="images/chrome_mailrate.png"/>
      <div class="button">Add to Chrome</div>
    </div>
    <div class="version old" style="display:none">
      <img src="images/old_version.png"/>
      <div class="label">Upgrade MailRate</div>
    </div>
    <div class="version current" style="display:none">
      <img src="images/current_version.png"/>
      <div class="label">Current Version</div>
    </div>
  </div>
  </a>
  <a class="step three" href="https://mail.google.com" target="_blank">
  <div class="step">
    <div class="number">3</div>
    <img src="images/gmail.png"/>
    <div class="button">Refresh Gmail</div>
  </div>
  </a>
</div>
<input type="hidden" value="{{{ current_version }}}" id="currentMailrateVersion"/>
{{# if email }}<input type="hidden" id="addedMailrateAuth" value="{{{ email }}}"/>{{/if}}