<nav id="sidebar" class="sidebar nav-collapse collapse">
  <ul id="side-nav" class="side-nav">
    {{#if admin_mode}}
    <li><a href="/admin">
      <i class="fa fa-home"></i> 
      <span class="name">Admin Home</span></a></li>
    <li><a href="/admin/domains">
      <i class="fa fa-th"></i> 
      <span class="name">Domains</span></a></li>
    <li><a href="/admin/imports">
      <i class="fa fa-th"></i> 
      <span class="name">Imports</span></a></li>      
    <li><a target="_blank" href="https://bigquery.cloud.google.com/table/nqb8-mailrate:mailhunt.messages">
      <i class="fa fa-search"></i>  
      <span class="name">BigQuery</span>
      <!--<span class="fa fa-external-link" style="font-size:9px;color:#aaaaaa;margin-left:5px"></span>-->
    </a></li>
    {{else}}
    <li><a href="/dashboard/{{{email}}}"><i class="fa fa-home"></i> <span class="name">Dashboard</span></a></li>
    <li class="panel active">
      <a class="accordion-toggle" data-toggle="collapse"
         data-parent="#side-nav" href="#stats-collapse"><i class="fa fa-area-chart"></i> <span class="name">Link Tracking</span></a>
      <ul id="stats-collapse" class="panel-collapse collapse in">
        <li class=""><a href="#">Threads</a></li>
        <li class=""><a href="#">Links</a></li>
        <li class="active"><a href="#">Clicks</a></li>
      </ul>
    </li>
    {{/if}}
    <li class="visible-xs">
      <a href="{{#if admin_mode}}/admin{{/if}}/logout"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
    </li>
  </ul>
</nav>
