#mailrate-compose,#mailrate-reply {
    background-image: url(http://mailrate.com/mailrate.png);
    background-repeat: no-repeat;
    background-position left center;
    background-size: 24px 18px;
    padding-left: 28px;
    padding-bottom: 4px;
    border-bottom: 1px dotted crimson;
}

span.mr-inline-stats {}

div.inline-brand {
    float: right;
}
div.inline-brand span {
    margin-left: -4px;
    color: black;
}
div.inline-brand img {
    height: 18px;
    top: 3px;
    position: relative;
}

div.brand span {
    margin-left: -4px;
    color: black;
}
div.brand img {
    height: 18px;
    top: 3px;
    position: relative;
}

tr.mailrate-compose,tr.mailrate-reply {
    color: #999999;
}

.rr-hover,.rt-hover {
    font-weight: bold;
    font-size: smaller;
    vertical-align: top;
}

span.hasTip {
    cursor: help;
    position: relative;
}

.hasTip .tip {
    display: none;
    bottom: 100%;
    position: absolute;
}

.hasTip:hover .tip {
    min-width: 450px;
    display: block;
    opacity: 1;
    background: white;
    border: 1px solid #999999;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    border-radius: 4px;
}

.tip .tipTitle {
    display: block;
    background-color: #4a90e2;
    color: white;
    padding: 1px;
}

.tip .tipBody {
    color: black;
    padding: 1px;
}

#mailrate {
    font-size: 12px;
    font-family: arial, sans-serif;
    color: black;
    /*box-shadow: inset 1px 1px rgba(0,0,0,0.3);
    background-color: #33639b;*/
    background-image: -webkit-linear-gradient(top, #33639b 0%, rgba(0,0,0,0) 100%);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-right: 10px;
}

#mailrate.sticky {
    position: fixed;
    top: 100px;
}

#mailrate .widget {
    margin: 10px;
	padding: 10px;
    width: 65px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    background: rgba(255, 255, 255, .66);
    float: left;
    font-size: 10px;
}

#mailrate .widget .value {
    font-size: 18px;
    color: black;
    text-align: center;
    padding-top: 5px;
}

#mailrate .brand {
    text-align: right;
    padding-right: 10px;
}

#modalPopup {
    z-index: 10000;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: white;
    height: 500px;
    width: 500px;
}

#lean_overlay {
    position: fixed;
    z-index:10000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}