body {
      margin: 0px;
      font-family: proxima-nova, 'Proxima Nova', san-serif;
      background: url('/images/Bitmap.png');
      background-size: cover;
}
a.login:visited {
  color: white
}
a.login {
  color: white;
  float: right;
  margin-top: 50px;
  margin-right: 30%;
}
ul {
    margin: 15px;
    padding: 0px;
    height: 92px;
}
li {
    list-style-type: none;
    margin: 0px;
    margin-bottom: 4px;
    padding: 0px;
    border-bottom: 1px solid #4a90e2;
}
li:last-child {
    border-bottom: none;
}
    div.header {
      background-image: -webkit-linear-gradient(top, #33639b 0%, #33639b 50%, rgba(0,0,0,0) 100%);
      background-image: linear-gradient(top, #fff 0%, #eee 300px);
    }
    div.header .logo {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    div.header img {
      zoom: .75;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    div.steps {
      width: 700px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
    }
    a.step {
      margin-right: 50px;
      float: left;
      text-decoration: none;
    }
    div.step {
      height: 200px;
      background: rgba(255, 255, 255, 0.55);
      border-radius: 10px;
      text-align: center;
      width: 200px;
    }
    div.step div.number {
      text-align: center;
      position: relative;
      top: 10px;
      left: 10px;
      background-color: #4a90e2;
      border-radius: 50%;
      color: white;
      font-size: 30px;
      width: 34px;
      height: 34px;
      padding-left: 2px;
    }
    div.step:hover {
      box-shadow: 0 0 1em #4a90e2;
    }
    div.step:hover .button {
      background-color: #4a90e2;
      color: white;
    }
    div.step img {
      zoom: .75;
      margin-top: 25px;
      margin-bottom: 25px;
      padding: 10px;
    }
    div.version.current img,div.version.old img {
      zoom: .6;
    }
    div.label {
      width: 75%;
      color: #4a90e2;
      margin-left: auto;
      margin-right: auto;
    }
    a.step:last-child {
      margin-right: 0px;
    }
    a:visited {
	color: black;
    }
    div.button {
      border-radius: 20px;
      border: 2px solid #4a90e2;
      width: 75%;
      color: #4a90e2;
      margin-left: auto;
      margin-right: auto;
      padding: 5px;
    }
    div.done {
      font-size: 100px;
      color: #33cc33;
      display: none;
    }
    div.todo {
      display: block;
    }
    @media only screen and (max-device-width: 480px) {
      div.steps {
        width: 200px;
      }
      div.step {
        margin-bottom: 50px;
      }
    }